<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Application_002">
  
  <test  name="BankingTest">
  
  	<parameter name="browser" value="chrome" />
  
  	<classes>
 
  		<class name="com.application.TestCases.TC_LoginPage_001"/>
  		<!-- class name="com.application.TestCases.TC_Deposit_002" /> -->
  		<class name="com.application.TestCases.TC_AddCustomerTest_003"/>
  
  	</classes>
  
  </test> <!-- Test1 -->
</suite> <!-- Suite1 -->
